target
teamcity-slack-integration-server/out
teamcity-slack-integration-server/target
*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ #
.idea
*.iml
*.ipr
*.iws

# Emacs #
*~

# Gradle #
.gradle
teamcity-slack-integration-server/build
